.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  font-family: "Indie Flower", cursive;

}

h1 {
  margin: 30px;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 2rem;
}

img {
  width: 80%;
}

body {
  background-color: #264653;
  color: #f4a261;
}

button{
  margin-top: 20px;
  background-color: #f4a261;
  font-size: 20px;
  border-radius: 12px;
  border-color: #264653;
  font-family: "Indie Flower, bold";
}